*{
    padding: 0px;
    margin: 2px;
    box-sizing: border-box;
}
nav{
    margin-left: 10px;
}
ul, li{
    display: flex;
    justify-content: left;
    text-align: center;
    padding-inline: 27px;
}
nav, ul, li, a{
    text-decoration: none;
}
.phone{
    margin-right: 80px;
}
.F {
    color: white;
    background-color: rgb(96, 253, 96);
    padding: 12px;
    border-radius: 12px;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    /* text-align: center;
    align-items: center; */
}

.Home {
    color: rgb(88, 248, 88);
}

ul,
li,
img {
    margin-right: 25px;
    gap: 30px;
}

span {
    color: rgb(13, 250, 13);
}

button {
    border-radius: 75px;
    background-color: rgb(31, 231, 31);
    color: white;
    height: 50px;
    width: 120px;
    border: 0px;
}

.bb {
    background-color: rgb(245, 241, 241);
    border-radius: 15px;
    width: 30px;
    height: 30px;
}

.img {
    background-color: rgb(10, 247, 10);
    width: 450px;
    height: 360px;
    border-radius: 100%;
}
img {
    margin-top: -135px;
}

.ril {
    display: flex;
    margin-top:  200px;
}
.note{
    width: 50%;
    padding: 20px;
    margin: 10px;
    font-size: larger;
}
.rel {
    position: relative;
    top: 70px;
    left: -155px;
}

.rot {
    transform: rotate(180deg);

}

.abs {
    position: absolute;
    top: -50px;
    left: 80px;
    font-size: 24px;
    color: red;
}

.main {
    height: 100px;
    width: 243px;
    border-radius: 12px;
    display: flex;
    position: relative;
    background-color: rgb(252, 248, 248);
    bottom: 10px;
}

.rel1 {
   margin-top: 5rem;
   margin-left: 0.2rem;
   
}
.dolar{
    font-size:small;
}
.container{
    height: 100px;
    width: 243px;
    display: flex;
    position: relative;
    margin-left: 300px;
    bottom: 106px;
    border-radius: 12px;
    background-color: rgb(245, 243, 243);
}
.rel2{
    margin-top: 5rem;
    margin-left: 0.5rem;
    
}
.cus{
    color: rgb(240, 58, 58);
}
.second{
    margin-top: 200px;
    padding-left: 650px;
}

.car{
    position: relative;
    height: 140px;
    width: 200px;
    padding: 8px;
    border-radius: 12px;
    background-color: rgb(248, 248, 248);
}
.teb{
    position: absolute;
    top: 6rem; 
    left: 2.5rem;
}
.galon{
    display: flex;
    gap: 24px;
}
.level{
    background-color: rgb(189, 248, 189);
    padding: 12px;
    border-radius: 100%;
}
.lun{
    color: black;
    font-size: large;
}
.galon1{
    display: flex;
    margin-top: 100px;
    gap: 100px;
    margin-left: 200px;
}
.car1{
    height: 200px;
    width: 270px;
    position: relative;
    padding: 20px;
    background-color: rgb(245, 245, 245);
    border-radius: 22px;
}
.teb1{
    bottom: -0px;
    position: absolute;
    left: 60px;
}
.larg{
    padding-top: 200px;
    display: flex;
justify-content: space-between;
}
.div{
    display: flex;
    padding-top: 75px;
    margin-left: 12px;
}
.obs{
    position: relative;
    padding-left: 70px;
}
.tes{
position: absolute;
margin-left: -100px;
}
.let{
    background-color: rgb(88, 252, 88);
    height:265px;
    border-radius: 12%;
    margin-bottom: -2200PX;
    position: relative;

}
.img1{
    position: absolute;
    bottom: 230px;
    left: -12px;
}
.img2{
    position:absolute ;
    left: 395px;
    bottom: 245px;
}
.img3{
    position: absolute;
    bottom: -110px;
    right: -220px;
}
.messa{
    position: absolute;
    top: -70px;
    right: 120px;
    color: black;
    font-size:x-large;
}
h3{
    margin-top: -60px;
}
.li{
    color: rgb(204, 203, 202);
}

.do{
    margin-top: 200px;
    margin-left: 50px;
    font-size: larger;
}
.bb, .cc{
    margin-top: 25px;
}
.sha{
    margin:20px;
}
.lol{
    font-size: small;
    color: red;
}
.papa{
 position: absolute;
 display: flex;   
 gap: 12px;  
 margin-left: 700px;
}
.papa1{
    position: absolute;
    display: flex;   
    gap: 12px;  
    margin-left: 700px;
   }
.mama{
    position:relative ;
    border-radius: 20px;
    height: 180px;
    width: 200px;
    background-color: rgb(243, 241, 241);
}
.mama1{
    position:relative ;
    border-radius: 20px;
    height: 180px;
    width: 200px;
    margin-top: 190px;
    background-color: rgb(243, 241, 241);
}
.start{
    position: relative;
   top: 60px; 
   left: 25%;
}
.red{
    color: red;
}
.van{
    position: relative;
    bottom: -60px;
}
.dog{
  display: flex; 
  margin-top: 200px; 
}
.dull{
    font-size:x-large ;
}
.van{
    margin: 20px;
}
.foodi{
    height: 160px;
    width: 180px;
    
}
.ending{
    display: flex;
    margin-top: 200px;
    gap: 190px;
}
.call{
    position: relative;
   
    height: 50px;
    width: 50px;
    top: 90px;
}
.social{
    position: relative;
    top: 20px;
}
.lastly{
    position: absolute;
    gap: 20px;
    display: flex;
}
.tallest{
    background-color: rgb(121, 253, 150);
}
.ending{
    display: flex;
}
.c{
    border:solid 1px;
    height: 10px;
    width: 20px;
    color: black;
    border-radius: 100%;
}
footer{
    margin-top: 100px;
    margin-left: 700px;
}
@media(max-width:600px){
    nav ul{
        position: absolute;
        top: 70px;
        right: 0px;
        left: 0px;
        flex-direction: column;
        text-align: center;
    }
}
.menu-icon i{
    color:black;
    font-size: 30px;
    
}
.menue-icon{
    display: block;
    display: none;
}
#menuList{
    transition: all 0.5px;
}
html, body{
    height: 100%;
    width: 100%;
}
